.home{
    width: 100%;
    height: auto;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.resto{
    height: 1000vh;
    background-color: purple;
}