.reviews {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.reviews h3 {
  font-size: 25px;
  font-weight: 500;
}

.reviews__container {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.comments__container {
  height: 70%;
  width: 90%;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 0px;
  overflow: hidden;
  overflow-y: auto;
  gap: 2px;
}

.input-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__group {
  position: relative;
  width: 80%;
}

.form__field {
  border: 1px solid silver !important;
  border-radius: 5px;
  box-sizing: border-box;
  color: #313a46;
  height: 40px;
  padding: 0rem 15px;
  width: 100%;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  top: 10px;
  border-right: none;
  border-left: none;
}

.form__label {
  background-color: white;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  color: #9b9b9b;
  display: block;
  font-size: 0.9em;
  margin-left: 10px;
  padding: 0 10px;
  pointer-events: none;
  position: absolute;
  top: -10px;
  transition: 0.2s;
}

.form__field:focus {
  border: 1px solid #ea1414 !important;
  outline: none;
}

.form__field:focus ~ .form__label {
  background-color: white;
  border-right: 1px solid #ea1414;
  border-left: 1px solid #ea1414;
  color: #ea1414;
  font-size: 0.9em;
  margin-left: 10px;
  padding: 0 10px;
  position: absolute;
  top: -10px;
  transition: 0.2s;
}

.send__button-img {
  height: 90%;
  filter: invert(100%);
}

.send__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: none;
  background-color: #ea1414;
  border-radius: 4px;
  width: 15%;
  cursor: pointer;
}


.send__button:hover{
  background-color: #a10e0e;
}