.header {
    background-color: #ea1414;
    height: 250px;
    width: 100%;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 20;
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.circle {
    background-color: #fff;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    animation: adjust-circle linear both;
    animation-timeline: scroll();
    animation-range: 0 250px;
}

@keyframes adjust-header {
    to {
        background: #ea1414;
        height: 120px;
        border-radius: 0px;
    }
}

@keyframes adjust-circle {
    to {
        height: 110px; /* Ajusta el tamaño del círculo según el tamaño del encabezado */
        width: 110px;
    }
}
