.footer{
    margin-top: 50px;
    height: 20vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #000;
    padding: 30px 0px;
    gap: 20px;
}

.elmezquitalLogo__footer{
    height: 80%;
    width: auto;
}

.footer span{
    font-weight: 500;
}